@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .navbar .dropdown-menu {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}
