{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block main %}
<main class="d-flex align-items-center justify-content-center vh-100">
  <section class="m-auto col-md-6 col-lg-4">
    <form action="" method="post" class="border border-1 border-info p-4 rounded shadow-sm">
      <legend class="text-center mb-4">Login as Administrator</legend>
      <fieldset class="mb-3">
        {% csrf_token %}
        {{form.as_p}}
      </fieldset>
      <button class="btn btn-success w-100" type="submit">Submit</button>
    </form>
  </section>
</main>

{% endblock main %}