{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}

{% block main %}

<main class="container mt-5">
  <div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4"> <!-- Adjusted to 4 columns -->
      <div class="card product-card" style="transition: transform 0.3s;">

        <div class="image-container" style="position: relative;">
          <div class="card-img-container" style="overflow: hidden;">
            {% if product.image and product.image.url|file_exists %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.title }}"
              style="width: auto; height: 100%; object-fit: cover;">
            {% else %}
            <img src="{% static 'img/placeholder.jpeg' %}" class="img-fluid" alt="Image not available"
              style="width: auto; height: 100%; object-fit: cover;">
            {% endif %}
          </div>

          <form
            action="{% if product.id in wishlist_products %}{% url 'remove_from_wishlist' product.id %}{% else %}{% url 'add_to_wishlist' product.id %}{% endif %}"
            method="post" id="wishlist-form-{{ product.id }}" style="position: absolute; top: 10px; right: 10px;">

            {% csrf_token %}

            <button type="submit" class="wishlist-btn"
              style="background: none; border: none; padding: 0; cursor: pointer;">
              {% if product.id in wishlist_products %}
              <i class="material-icons text-danger border-2">favorite</i>
              {% else %}
              <i class="material-icons text-danger border-2">favorite_border</i>
              {% endif %}

            </button>
          </form>

        </div>
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ product.title }}</h5>
          <div class="rating">
            <span class="material-icons" style="color: green;">star</span>
            <strong>4.5</strong>
          </div>
          <div class="text-secondary">
            <span>MRP:<s >{{ product.mrp }}</s> </span>
            <span class="material-icons fs-6">currency_rupee </span>
          </div>
          <div class="price">
            <span style="color: green; font-weight: bold;"> Price: <i class="fs-4 fw-bold">{{ product.price }}</i></span>
            <span class="material-icons fs-6">currency_rupee </span>
          </div>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-view mt-2">View</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="display-4">No products available.</p>
    {% endfor %}
  </div>
</main>

<style>
  .product-card:hover {
    transform: scale(1.05);
    /* Slightly enlarge the card on hover */
  }

  .rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .price {
    margin-top: 2px;
    display: flex;
    align-items: center;
  }

  .btn-view {
    width: 100%;
    /* Full width */
    background-color: yellow;
    /* Set background color */
    border: none;
    /* Remove border */
    transition: transform 0.3s, background-color 0.3s;
    /* Transition effects */
  }

  .btn-view:hover {
    transform: scale(1.1);
    /* Scale effect on hover */
    background-color: orange;
    /* Change color on hover */
  }

  .wishlist-btn {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .wishlist-btn:hover {
    background-color: #ffcccc;
    /* Light red on hover */
  }

  .material-symbols-outlined {
    transition: color 0.3s;
  }

  .image-container {
    position: relative;
  }
</style>

{% endblock main %}